.bar{
 max-width: 319px;
 background-color: #222222;
 height: 1080px;
 position: relative;
}
.menu-li>a{
    padding-left: 15px;
    padding-top: 5px;
}
.menu{
    width: 259px;
    height: 60px;
    margin-top: 15px;
    border-radius: 12px;
    background-color: none;
    transition: background-color 0.5s ease-out 1ms  ;
    color: white;
    padding-left: 30px;
    align-items: center;
    display: flex;
    font-size: 16px;
    font-family: 'Avenir-medium';
}
.menu:hover {
  background-color: #FF2288;
}
.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.title{
    justify-content: space-around;
}
.center{
    align-items: center;
}
.task{
    margin-top: 106px;
    height: 360px;
}
.main{
    padding-top: 42px;
    margin-right: 30px;
}
.ll >h2 {
    font-size: 12px;
    color: white;
    font-family: 'Avenir-heavy';
    margin-top: 69px;
    padding-left: 30px;
}
.down{
    color: white;
    font-size: 16px;
    font-family: 'Avenir-medium';
    padding-top: 50px;

}
.calm{
    padding-left: 30px;
}
.down li{
    margin-top: 15px;
}
.down a {
    padding-left: 15px;
}